<title>Toney | Explore</title>
<div style="color: white;">
    <h1>Albums</h1><br>
    
    <div class="media-scroller">
        {% for album in albums %}
            <div class="media-card">
                <a href="#" hx-get="{{ url_for('albums', id=album.album_id) }}" hx-target="#main-content" hx-push-url="true" style="text-decoration: none;">
                    <img src="{{ album.albumfile }}" class="cover_image" style="height: 150px; width: 150px;"/>
                    <p>{{ album.title }}</p>
                </a>
                <a href="#" hx-get="{{ url_for('profile', id=album.author) }}" hx-target="#main-content" hx-push-url="true" class="media-subtitle">
                    {{ names[album.author] }} 
                </a>
            </div>
        {% endfor %}
    </div>
    
    <br><br><br>
    
    <h1>Songs</h1><br>
    
    <div> 
        <div class="list-grid">
            {% for song in songs %}
                {% for album in albums %}
                    {% if album.album_id == song.album %}
                        <div class="list-row" style="padding: 5px;">
                            
                            <a onclick="play_song('/static/data/{{ song.songfile }}')">
                                <img src="{{ album.albumfile }}" class="cover_image" style="height: 50px; width: 50px;" />
                            </a>
                            
                            <div class="list-details" style="margin-left: 10px;">
                                <div class="list-text">
                                    <a onclick="play_song('/static/data/{{ song.songfile }}')"><b>{{ song.title }}</b></a>
                                    <b class="list-author">
                                        <a href="#" hx-get="{{ url_for('profile', id=song.author) }}" hx-target="#main-content" hx-push-url="true" style="color: #b3b3b3;">
                                            {{ names[song.author] }} 
                                        </a> ♦ {{ album.title }}
                                    </b>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br><br><br><br>
</div>