<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toney</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pozadi">
    {% if error %}
        <div style="color:red;">
            {{ error }}
        </div>
    {% endif %}
    <form action="{{url_for('login')}}" method="POST">
        <label >e-mail:</label><br>
        <input type="email" name="email"><br>
        <label >password:</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login"/>
    </form><br>

    <a href="{{url_for('register')}}" class="btn">Register</a>
</body>
</html>